<!DOCTYPE HTML>
<html>
<div class = "caption-full">
<head>
    <title>Home Page</title>
    <link rel= "stylesheet" type= "text/css" href= "style_mine.css">
    <meta http-equiv= "refresh" content= 3>
    <input type="hidden" name="alignment" value="{{interval_add}}" />
</head>
<body>
    <div id= "header">
        <h1>Home Page</h1>
    </div>
    <div id= "nav_fetch">
        <font color="cyan" <a href= "/templates/view">View</a></font> 
        <font color="cyan" <a href= "/templates/Block">Block</a></font> 
        <font color="cyan" <a href= "/templates/remove">Remove</a></font>
        <font color="cyan" <a href= "/templates/pc_renew.html">Subscription</font></a> 

    </div>
<div id = "section">
<font size="20px" color="purple"><pre>                 Welcome to the Home Page     </pre></font>
<br><br><br>
<font size="12px" color="purple" ><pre>             Please select an option to begin   </pre></font>
</div>
</body>
</html>
