<!DOCTYPE HTML>
<html>
<div class = "caption-full">
<head>
    <title>Block Page</title>
    <link rel= "stylesheet" type= "text/css" href= "style_mine.css">
    <meta http-equiv= "refresh" content="{{interval_add}}">
    <input type="hidden" name="alignment" value="{{interval_add}}" />
</head>
<body>
    <div id= "nav_fetch">
        <h1><br>You have been blocked<br></h1>
<!--    </div>
    <div id= "nav">
        <a href= "/templates/home_mine.html">View</a> <br>
        <a href= "/templates/modify1.html">Block</a> <br>
    </div>
-->
</div>
<font size="50px" color="white"><br><br><pre>
                      NO ACCESS :)                   </pre></font>
</div>
</div>
</body>
</html>

