<!DOCTYPE HTML>
<html>
<div class = "caption-full">
<head>
    <title>Subscription</title>
    <link rel="stylesheet" type="text/css" href="style_mine.css">
    <meta http-equiv= "refresh" content="{{ interval }}">
    <input type="hidden" name="alignment" value="{{interval_add}}" />
</head>
<body>
    <div id= "header">
        <h1>Manage Subscription</h1>
    </div>
    <div id= "nav_fetch">
        <font color="cyan"<a href= "/templates/pc_home2.html">Home</a></font>
        <font color="cyan"<a href= "/templates/view">View</a></font>
        <font color="cyan"<a href= "/templates/Block">Block</a></font>
        <font color="cyan"<a href= "/templates/pc_renew.html">Subscription</a></font>

    </div>
    <div id= "section">
        <form action= "/templates/renew" method= "POST">
        Select the action with your subscription: <br>
        <select name="choice">
            <option value="Renew">Renew</option>
            <option value="End">End</option>
        </select>
        <input type="submit" name="Choice" value="Confirm" style="font-size:18px;">
        </form>
    </div>
</div>
</body>
</html>
